/* font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* var */

:root {
    --background: #EBEBEB;
    --darkblue: #21272b;
    --box: #21272bc9;
    --lightblue: #1bb4e8;
    --ocher: #c6b07f;
    --footer: #CBCFD3;
    --pagefont: 'Open Sans', sans-serif;
}

/* all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--pagefont);
    padding: 20px;
    color: var(--darkblue);
}

/* link */

a {
    color: var(--lightblue);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

a:hover {
    color: var(--ocher);
}

/* header */

h2 {
    color: var(--darkblue);
    font: italic 700 1.8em var(--pagefont);
    margin-bottom: 20px;
    text-align: center;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 400px;
}

table thead {
    background-color: var(--darkblue);
    color: white;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid var(--darkblue);
    text-align: left;
}

table th {
    font: 700 1em var(--pagefont);
    text-transform: uppercase;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    background-color: var(--lightblue);
    color: white;
    transition: background-color 0.3s;
}
